main{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-bottom: 500px;
}

.table{
    text-align: center;
    margin-top: 30px;
}
.custom{
    width: 645px;
    margin: auto;
    margin-bottom: 10px;
}
.table thead tr{
    text-align: center;
}

#covid-new-cases{
    margin-top: 50px;
}

