main{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    margin-bottom: 500px;
}

.table{
    text-align: center;
}
.table thead tr{
    text-align: center;
}

#covid-new-cases{
    margin-top: 50px;
}