@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.header-h1{
    margin: minmax(10px, 50px);
    text-align: center;
    font-size: minmax(22px, 50px);
}
a{
    text-decoration: none;
}

.header-h2{
    margin: 30px;
    text-align: center;
    font-size: minmax(30px, 50px);
}

.header-table{
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

caption{
    font-size: 12px;
    margin: 10px;  
    margin-bottom: 50px;
}

.header-h1-content{
    margin-top: 30px;
    text-align: left;
    font-size: minmax(20px, 30px);
    font-weight: bold;
}

.header-h2-content{
    margin-top: 30px;
    text-align: left;
    font-size: minmax(20px, 28px);
    font-weight: bold;
}
.header-h3-content{
    margin-top: 30px;
    text-align: left;
    font-size: minmax(20px, 26px);
    font-weight: bold;
}
p{
    font-size: minmax(16px, 18px);
}

.special-text-box{
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9fb;
    font-size: minmax(16px, 18px);
}