{% load sekizai_tags %}

{% addtoblock "js" %}


    

<script>
   
    const draw = data =>  {

        // const data = await d3.json("{% url 'api' %}");

        const width = 1000;
        const height = 400;
    
        // Defining the Chart area
    
        const margin = {top: 40, right: 70, bottom: 50, left: 90}
        const innerWidth = width - margin.left - margin.right;
        const innerHeight = height - margin.top - margin.bottom;


        const svg = d3.select("#new-cases").append("svg")
            .attr("preserveAspectRatio", "xMinYMin meet")
            .attr("viewBox", "0 0 1000 400");

        const g = svg.append("g")
            .attr("transform", `translate(${ margin.left }, ${ margin.top })`)

        // Defining the tooltip
        const tooltip = d3.select("#tooltip")
        const tooltipdot = g.append("circle")
            .attr("r", 5)
            .attr("fill", "#fc8781")
            .attr("stroke", "black")
            .attr("stroke-width", 2)
            .style("opacity", "none")
            .style("pointer-events", "none");
        
        // Data Accessors
        const xAccessor = d => d.date;
        const yAccessor = d => d.new_cases;
        
        // Defining the Scales
        const xScale = d3.scaleUtc()
            .domain(d3.extent(data, xAccessor))
            .range([0, innerWidth])
            .nice();

        const yScale = d3.scaleLinear()
            .domain(d3.extent(data, yAccessor))
            .range([innerHeight, 0])
            .nice();

        // Defining the Axis
        const xAxis = d3.axisBottom(xScale).tickSize(-innerHeight).tickPadding(20);
        const xAxisGroup = g.append("g")
            .attr("transform", `translate(0, ${ innerHeight })`)
            .classed("x-axis", true)
            .call(xAxis)
        
        xAxisGroup.append('text')
            .text("Time")
            .attr("fill", "black")
            .attr("x", innerWidth / 2)
            .attr("y", 50)
            .classed("axis-label", true);
        
        const yAxis = d3.axisLeft(yScale).tickSize(-innerWidth).tickPadding(20);
        const yAxisGroup = g.append("g").call(yAxis)

        yAxisGroup.append('text')
            .text("Number of new Cases")
            .attr("transform", `rotate(-90)`)
            .attr("fill", "black")
            .attr("x", -innerHeight / 2)
            .attr("y", -80)
            .classed("axis-label", true)
            .style("text-anchor", "middle")

        // Line generator
        const lineGenerator = d3.line()
            .x(d => xScale(xAccessor(d)))
            .y(d => yScale(yAccessor(d)))
            // .curve(d3.curveBasis);

        g.append("path")
            .attr("d", lineGenerator(data))
            .attr("fill", "none")
            .attr("stroke", "#30475e")
            .attr("stroke-width", 1.3);

        // Title
        g.append('text')
            .text("COVID-19 New Cases per day from March 2020. - Aug 2021.")
            .attr("x", innerWidth / 4)
            .attr("y", -10)
            .attr("class", "title");


        // Tooltip
        g.append("rect")
            .attr("width", innerWidth)
            .attr("height", innerHeight)
            .style("opacity", 0)
            .on("touchmouse mousemove", function(event){
                const mousePosition = d3.pointer(event, this);
                const date = xScale.invert(mousePosition[0])
                
                // Custom Bisector -left -center -right
                const bisector = d3.bisector(xAccessor).center
                const index = bisector(data, date)
                const cases = data[index - 1]

                // Update image
                tooltipdot.style("opacity", 1)
                    .attr("cx", xScale(xAccessor(cases)) - 20 +"px")
                    .attr("cy", yScale(yAccessor(cases)) + "px")
                    .raise();
                
                tooltip.style("display", "block")
                    .style("top", yScale(yAccessor(cases)))
                    .style("left", xScale(xAccessor(cases)))
                
                tooltip.select(".cases")
                    .text(`Cases: ${ yAccessor(cases) }`);

                const dateFormatter = d3.timeFormat("%B %-d %Y")
                tooltip.select(".date")
                    .text(`Date: ${ dateFormatter(xAccessor(cases)) }`)
                    .style("font-weight", "bold");
            })
            .on("mouseleave", function(event){
                tooltipdot.style("opacity", 0);
                tooltip.style("display", "none");
            })

    }

    d3.json("{% url 'api' %}").then(data => {
        data.forEach(d => {
            d.date = new Date(d.date);
            d.new_cases = +d.new_cases;
        });
        draw(data)
    })
    
</script>
{% endaddtoblock %}

{% addtoblock "css" %}
<style>
    .line{
        fill: none;
        stroke: #051014;
        stroke-width: 2px;
        stroke-linejoin: round;
    }
    .tick text{
        font-size: 14px;
        fill: #635f5d;
    }
    .tick line {
        stroke: #c0c0bb;
    }
    .title{
        font-size: 16px;
    }
    .axis-label{
        font-size: 14px;
    }

    #tooltip {
        border: 1px solid #ccc;
        position: absolute;
        padding: 10px;
        background-color: #fff;
        display: none;
        pointer-events: none;
    }
</style>
{% endaddtoblock %}