{% extends "base.html" %}
{% load static %}
{% load sekizai_tags %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/analysis.css' %}">
    <!-- <script src="{% static 'js/new_cases_overview.js' %}"></script> -->
    <title>Analysis</title>

{% endblock %}


{% block body %}

    {% include "components/navbar.html" %}  <!-- Navbar -->

    <main>
        {% include "reports/intro.html" %}
        <article id="covid-new-cases">
            <h1 class="header-h1-content">Analysing the data</h1>
            <figure id="chart-1">
                <div id="chart-area">
                    <div id="tooltip">
                        <div class="date"></div>
                        <div class="cases"></div>
                    </div>
                </div>
                {% include "charts/new_cases.html" %}
                <caption><strong>Chart - 1</strong>: Number of New Cases of COVID-19 virus in Bosnia and Herzegovina from April 2020. until Today</caption>
            </figure>
            
            
            <p>
                To better understand the relationships between the variables in the dataset we calculated the correlation coefficient in the <a href="#table-2">Table - 2</a>
            </p>
            <div id="table-2" class="table-" style="text-align: center; margin: 10px;">
                <div class="table-responsive">
                    {{ corrFrame | safe }}
                </div>
                <caption><strong>Table - 2</strong>: Correlation coefficient between for each column in the dataset</caption>
            </div>
        </article>
        <figure id="chart-2">
            <div id="chart-area">
                <div id="tooltip">
                    <div class="date"></div>
                    <div class="cases"></div>
                </div>
            </div>
            {% include "charts/heatmap.html" %}
            <caption><strong>Chart - 1</strong>: Number of New Cases of COVID-19 virus in Bosnia and Herzegovina from April 2020. until Today</caption>
        </figure>
    </main>

{% endblock %}